<div class="dashboard">
    <div class="dashboard--phase" data-phase="1">
        <p class="heading">1940–1941</p>
        <p class="heading">deportacja z Kresów Wschodnich na Syberię</p>
        <hr>
        <p class="heading"><strong>320000</strong> deportowanych</p>
        <p class="heading"><strong>2 lata</strong> tułaczki</p>
    </div>
    <div class="dashboard--phase" data-phase="2">
        <p class="heading">1941</p>
        <p class="heading">po amnestii</p>
        <hr>
        <p class="heading"><strong>65000</strong> deportowanych</p>
        <p class="heading"><strong>40000</strong> kobiet i dzieci</p>
    </div>
    <div class="dashboard--phase" data-phase="3">
        <p class="heading">1942</p>
        <p class="heading">wyjście z ZSRR</p>
        <hr>
        <p class="heading"><strong>2 trasy</strong> przez góry</p>
    </div>
    <div class="dashboard--phase" data-phase="4">
        <p class="heading">1944</p>
        <p class="heading">w świat</p>
        <hr>
        <p class="heading"><strong>4</strong> kontynenty</p>
    </div>
</div>
