<div class="phases">
    <span class="phases--phase" data-phase="1">W głąb ZSRR</span>
    <span class="phases--phase" data-phase="2">Po amnestii</span>
    <span class="phases--phase" data-phase="3">Wyjście z ZSRR</span>
    <span class="phases--phase" data-phase="4">Rozproszenie</span>
</div>
