.map-container {
    position: relative;

    height: 100%;
    width: 100%;

    background: url('../images/map-background.jpg');

    user-select: none;

    &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: calc(100% - #{$frame-width});
        height: calc(100% - #{1.5*$unit + $frame-width});
        max-height: calc(100% - #{$unit/2 + $frame-width} - #{2.5*$font-size-s});

        pointer-events: none;

        border: 0 solid $transparent-background;
        border-top-width: $frame-width;
        border-right-width: $frame-width;
    }
}

.map {
    position: relative;
    left: 50%;
    top: 50%;

    height: 2300px;
    width: 5503px;

    transition: opacity 3s linear;

    .map-animations-active & {
        transition: transform 2s linear, transform-origin 2s linear, font-size 2s linear;
    }

    transform-origin: 0 0;
    transform: scale(1) translate(-50%, -50%);

    img {
        position: absolute;
        // filter: grayscale(.8);
    }
}

.map--phase {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map--place {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    z-index: 10;
    box-sizing: content-box;

    color: $blue;
    // border: calc(#{1em / 21 * 5}) solid;

    transition: background .5s, opacity .5s;

    // &:hover,
    // &__active {
    //     z-index: 15;
    // }


    &:not(:hover):not(&__active) {
        box-shadow: none!important;
    }

    cursor: pointer;

    &--name,
    &--size {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        width: 300px;
        padding: .5em 0;

        line-height: 1em;
        display: flex;
        justify-content: center;
        text-align: center;

        z-index: 20;
        pointer-events: none;
    }

    &--name {
        bottom: 100%;
    }

    &--size {
        top: 100%;
    }

    .activeExit &,
    .activeEntry & {
        opacity: 1;
    }

    .activeExit & {
        background: $orange;
        box-shadow: 0 0 0 calc(#{1em / 21 * 5}) $blue;
    }

    .activeEntry & {
        background: $blue;
        box-shadow: 0 0 0 calc(#{1em / 21 * 5}) $orange;
    }

    &:not(:hover):not(&__active) &--name,
    &:not(:hover):not(&__active) &--size {
        display: none;
        z-index: 10;
    }
}

.map--path {
    position: absolute;
    left: 50%;
    top: 50%;

    pointer-events: none;
    opacity: .4;
    background: url("../images/path-shape.svg#path");
    background-size: 100% 100%;

    transform-origin: 0 0;
    transition: width .5s, opacity .1s;

    &:nth-of-type(1) {
        transition-delay: .3s;
    }
    &:nth-of-type(2) {
        transition-delay: .5s;
    }
    &:nth-of-type(3) {
        transition-delay: .7s;
    }

    .map--phase:not(.activeExit) & {
        width: 0!important;

        & {
            opacity: 0;
        }
    }

    &:after {
        $head-size: 28px;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: $head-size solid transparent;
        border-left: $head-size solid $blue;
        border-bottom: $head-size solid transparent;
        right: -$head-size+1px;
        top: 50%;
        transform: translateY(-50%);
    }
}
