.phases {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;

    width: 100%;
    padding-left: $unit;
    padding-right: $unit;

    background: $transparent-background;
    
    .phases--phase {
        height: $unit;
        width: 5*$unit;
        min-width: 12em;
        min-height: 2.5em;
        display: flex;
        position: relative;

        $border-width: $thick-line-width;
        border: $border-width solid $blue;
        margin-left: -$border-width;

        flex-direction: column;
        justify-content: center;

        @include fontUppercaseSmall;
        color: white;

        user-select: none;
        text-align: center;

        transition: background .3s, color .3s;

        &:not(.active):hover {
            background: $orange;
            color: $darkblue;
            cursor: pointer;
        }

        &.active {
            background: $blue;

            &:before,
            &:after {
                content: '';
                position: absolute;
                pointer-events: none;
                height: $unit/2;
                background: $transparent-background;
                width: 100vw;
                top: calc(-#{$unit/2} - #{$border-width});
            }

            &:before {
                right: calc(100% + #{$border-width});
                border-radius: 0 $unit/4 0 0;
            }

            &:after {
                left: calc(100% + #{$border-width});
                border-radius: $unit/4 0 0 0;
            }
        }
    }
}
