{% macro hamburger(name) %}
        <div class="hamburger {{name}}">
            <span class="hamburger--line"></span>
            <span class="hamburger--line"></span>
            <span class="hamburger--line"></span>
        </div>
{% endmacro %}
