{% extends "base.twig" %}

{% block header %}
<header>
    <div class="dashboard"><a class="logo heading" href="/"><span>szlaki</span><span></span><span>tułaczy</span></a></div>
    {% include "partials/nav.twig" %}
</header>
{% endblock %}

{% block main_content %}
{% include 'partials/page/excerpt.twig' %}
{% include 'partials/page/sections.twig' %}
{% endblock %}
